body {
    color: #000000;
    background: #8c8c8c;

    font-family: 'Open Sans', sans-serif;
    flex:auto;
  }


  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  header,
  
  main,
  aside,
  footer {
    padding: 1.8em;
    /* border: 0.1px black solid; */
  }
  nav {
    padding: 0em;
    margin: 0em;
    /* border: 0.1px black solid; */
  }
  header {
    text-align: center;
  }
  /* .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */
  button {
    
    height: 85px;
    width: 100px;
  }
  
  .container {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(227, 251, 237);
    grid-template-columns:
     3fr       1fr;
    grid-template-areas:
    "heady   heady"
    "navvy   navvy"
    "mainy   aside1"
    "mainy   aside1"
    "mainy   aside1"
    "footy   footy";
  }
  header {grid-area: heady; background: rgb(215, 213, 215)}
  nav {grid-area: navvy; background: rgb(226, 224, 228);}
  main {grid-area: mainy; background: rgb(233, 233, 240); max-height: 100%;}
  #aside1 {grid-area: aside1; background: rgb(227, 227, 229);}
  footer {grid-area: footy; background: rgb(217, 219, 219);}
  button { border-color:#ffffff;background: rgb(204, 204, 206)}

  /* header {grid-area: heady; background-image: linear-gradient(to bottom,rgb(182, 183, 218),rgb(213, 214, 255))}
  nav {grid-area: navvy; background-image: linear-gradient(to bottom, rgb(213, 214, 255), rgb(241, 204, 252));}
  main {grid-area: mainy; background-image: linear-gradient(to bottom, rgb(241, 204, 252), rgb(213, 214, 255),rgb(241, 204, 252)); max-height: 100%;}
  #aside1 {grid-area: aside1; background-image: linear-gradient(to bottom, rgb(241, 204, 252), rgb(213, 214, 255),rgb(241, 204, 252));}
  footer {grid-area: footy; background-image: linear-gradient(to bottom, rgb(241, 204, 252),rgb(227, 186, 239));} */
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2em;
    }

  /*Phone*/
  @media screen
    and (max-width: 690px)  {
  .container {
  width:95vw;
  grid-template-columns:
     1fr;
  grid-template-areas:
    "heady"
    "navvy"
    "mainy"
    "aside1"  
    "footy";
  }
  
  /*Thumbable Buttons*/
  nav ul {
    flex-flow: column nowrap;
    text-align: center;
    padding: 0px;
  }
  nav ul li a {
    display: block;
    padding: 10px 5px;
    margin: 5px;
    border: 1px black solid;
    background: white;
  
  }
  
}
.dark-mode {
  color:aliceblue;
  header {grid-area: heady; background: rgb(32, 32, 32)}
  nav {grid-area: navvy; background: rgb(44, 42, 44);}
  main {grid-area: mainy; background: rgb(53, 51, 57); max-height: 100%;}
  #aside1 {grid-area: aside1; background: rgb(43, 43, 43);}
  footer {grid-area: footy; background: rgb(40, 41, 41);}
  a:link {
    color: rgb(230, 222, 232);
    background-color: transparent;
    text-decoration: none;
}
  a:visited {
    color: rgb(212, 199, 215);
    background-color: transparent;
    text-decoration: none;
}
  
  button { color:aliceblue; background:rgb(95, 95, 96)}
  @media screen
    and (max-width: 690px)  {
      
      a:visited {
        color: rgb(104, 47, 117);
        background-color: transparent;
        text-decoration: none;
    }
    nav ul li a {
      display: block;
      padding: 10px 5px;
      margin: 5px;
      border: 1px black solid;
      background: rgb(255,255,255);
    
    }
  }
}

.skip-link {
  background: rgb(81, 79, 83);
  color: #fff;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(0%);
}

.skip-link {
  /* Same as  before */
  transition: transform 0.3s;
} 