body {
    padding: 7px 25px;
    font-family: helvetica, sans-serif;
    color:#fff;
   
    background-image: linear-gradient(to left,#4b1380,#871554);
    flex:auto;
  }
  img {
    width: 290px;
    border:2px solid black;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
  }
  footer ul {
    list-style: none;
  }
 
  a:link {
    color: rgb(142, 237, 206);
   
  }
  
  a:visited {
    color: rgb(215, 168, 122);
    
  }
  
  a:hover {
    color: rgb(164, 110, 205);
    

  }
  .skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(0%);
  }
  
  .skip-link {
    /* Same as  before */
    transition: transform 0.3s;
  } 
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  header,
  main,
  aside,
  footer {
    padding: 0.6em;
    /* border: 1.2px black solid; */
  }
  header,
  footer {
    text-align: center;
  }
  footer {
    padding-top: 2.5em;
  }
  main {
    padding-right: 2em;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    /* background: rgb(84, 176, 129); */
    display: grid;
    width: 80vw;
    height: 10vh;
    grid-template-columns:
     1fr       2fr       1fr;
    grid-template-areas:
    "heady     heady     heady"
    "navvy     navvy     navvy"
    "mainy     mainy     aside1"
    "mainy     mainy     aside1"
    "mainy     mainy     aside1"
    "footy     footy     footy";
  }
  header {grid-area: heady; }
  nav {grid-area: navvy;}
  main {grid-area: mainy; max-height: 100%;}
  #aside1 {grid-area: aside1; }
  footer {grid-area: footy; }
nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  font-size: 1.2em;
  padding:0em;
  }
/*iPad*/
@media screen
and (min-width: 691px)
and (max-width: 1100px)  {
.container {
grid-template-columns:
 1fr 1fr;
grid-template-areas:
"heady heady"
"navvy navvy"
"mainy mainy"
"aside1 aside1"
"aside2 aside2"
"footy footy";
/* width: 700px; */
}
}

/*Phone*/
@media screen
and (max-width: 690px)  {
.container {
grid-template-columns:
 1fr;
grid-template-areas:
"heady"
"navvy"
"mainy"
"aside1"
"footy";
}

/*Thumbable Buttons*/
nav ul {
flex-flow: column nowrap;
text-align: center;
gap: none;
}
nav ul li a {
display: block;
padding: 20px 180px;
margin: 2px;
border: 1px black solid;
background-image: linear-gradient(to right,#3c0f67,#66103f);

}
}

  
  nav ul li {
    list-style: none
  }
  main nav ul li {
    list-style: disc
  }